In [1]:
# importing the packages

import pandas as pd
import numpy as np

In [2]:
#importing the dataset

data = pd.read_csv(r'C:\Users\Grade A\Desktop\DATASET\data science africa\Python-Data-Basics\dataset_original.csv')

In [3]:
#checking the first five rows of the dataseet

data.head()

   feature_1  feature_2  label
0   1.147868   0.937782      1
1   0.173189  -0.264483      0
2   0.680447   0.048147      1
3  -1.088036   1.028807      1
4   1.193379  -1.155007      0

In [4]:
#checking the length of the dataset

len(data)

1000

In [5]:
#checking the info of the dataset

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature_1  1000 non-null   float64
 1   feature_2  1000 non-null   float64
 2   label      1000 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 23.6 KB

In [6]:
#checking the values of feature_1

data['feature_1'].value_counts()

 1.053534    1
-0.157846    1
-0.712840    1
 1.229049    1
 1.691084    1
            ..
 0.591211    1
-2.806495    1
-1.789866    1
-0.529718    1
 0.944614    1
Name: feature_1, Length: 1000, dtype: int64

In [7]:
#checking the values of feature_2

data['feature_2'].value_counts()

-1.865573    1
 1.388824    1
-2.049430    1
-0.170937    1
-1.365154    1
            ..
-1.540984    1
 0.421566    1
 0.424511    1
-1.392657    1
-1.699805    1
Name: feature_2, Length: 1000, dtype: int64

In [8]:
#checking the label value

data['label'].value_counts()

1    501
0    499
Name: label, dtype: int64

In [9]:
#checking the datatypes with float 

data.dtypes[data.dtypes == 'float64']

feature_1    float64
feature_2    float64
dtype: object

In [10]:
#checking how the dataset looks like

data.describe()

         feature_1    feature_2        label
count  1000.000000  1000.000000  1000.000000
mean     -0.038682    -0.028546     0.501000
std       1.341461     1.160810     0.500249
min      -4.700720    -2.668991     0.000000
25%      -1.162938    -1.038483     0.000000
50%       0.216057    -0.145952     1.000000
75%       1.014818     0.937670     1.000000
max       3.103008     2.880601     1.000000

In [11]:
#checking the missing values in the dataset

data.isnull().sum()

feature_1    0
feature_2    0
label        0
dtype: int64

In [12]:
#checking the correllation of the dataset

data.corr()

           feature_1  feature_2     label
feature_1   1.000000   0.010580  0.019549
feature_2   0.010580   1.000000  0.843945
label       0.019549   0.843945  1.000000

In [13]:
#checking the first five rows of the dataset

data.head()

   feature_1  feature_2  label
0   1.147868   0.937782      1
1   0.173189  -0.264483      0
2   0.680447   0.048147      1
3  -1.088036   1.028807      1
4   1.193379  -1.155007      0

In [14]:
#checking the columns of the dataset

data.columns

Index(['feature_1', 'feature_2', 'label'], dtype='object')